*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(63, 63, 63);
    list-style: none;
}

#navbar li>a{
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(228, 228, 228);
}

#navbar li>a:hover{
    text-decoration: underline;
}

#navbar li>a:visited{
    color: rgb(228, 228, 228);
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

.form form{
    display: flex;
    flex-direction: column;
}